extends layout

block content
  h1= title
  p Welcome to #{title}
  #map
  #name
  svg.chart
  p made by #{author}
  script(type='text/javascript' src='/javascripts/simple.js')
  script(type='text/javascript' src='/javascripts/barchart.js')