doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // Move it after in the body  when dev ends*/
    script(type='text/javascript' src='/bower_components/jquery/jquery.js')
    script(type='text/javascript' src='/bower_components/d3/d3.js')
    script(type='text/javascript' src='/javascripts/simple.js')
  body
    block content